<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Student bean definition -->
    <bean class="in.adit.beans.Student" id="stdId" autowire="byType">
        <property name="name" value="Keerti Vishwkarma"/>
        <property name="age" value="24"/>
        <property name="course" value="Advance Diploma in IT, Networking and Cloud Computing"/>
        <property name="address" value="Bangalore, Karnataka"/>
    </bean>
</beans>
